/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070; /*цвет тени и фон в title-decor*/
  --button-color: #ff0070; /*цвет акцентов(день, ночь, углы)*/
  --main-bg-color: #000028; /* цвет фона и текста в title-decor*/
  --color-title-decor: #000028; /* цвет текста в title-decor*/
  --bg-image: url(../images/cover-image-dark.png); /* фоновая картинка (в темной теме)*/
  --main-text-color: #f1b2ce; /* основной цвет текста*/
  --main-title-color: #ff0070; /*цвет section__title*/
  --main-font-family: 'IBM Plex Mono'; /* основний шрифт*/
  --main-font-size: 18px; /*основной размер шрифта*/
  --decor-padding-mobile: 10px; /*падинги  для данной версии (мобильной)*/
  --decor-padding-desktop: 20px; /*падинги  для планшета и десктопа*/
  --logo-color: #db00ff; /*цвет лого*/
  --font-size-logo-mobile: clamp(
    7.25rem,
    7.0115rem + 1.0178vw,
    7.5rem
  ); /*резиновый размер лого для данной версии (мобильной)*/
  --font-size-logo-desktop: clamp(
    7.5rem,
    0.5625rem + 14.4531vw,
    9.8125rem
  ); /* лого для планшета и десктопа*/
}

}

.theme-dark .rec {
  /* Вам также нужно будет написать ряд подобных селекторов */
  display: flex;
}
