/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb; /*цвет тени и фон в title-decor*/
  --button-color: #353430; /*цвет акцентов(день, ночь, углы)*/
  --main-bg-color: #fff1f7; /* цвет фона*/
  --bg-image: url(../images/cover-image-light.png); /* фоновая картинка (в светлой теме)*/
  --main-text-color: #353430; /* основной цвет текста*/
  --main-title-color: #353430; /*цвет section__title*/
  --logo-color: #ffc2e6; /*цвет лого*/
  --hover-color: #32312d66; /*цвет при наведении*/
}

.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb; /*цвет тени и фон в title-decor*/
    --button-color: #353430; /*цвет акцентов(день, ночь, углы)*/
    --main-bg-color: #fff1f7; /* цвет фона*/
    --bg-image: url(../images/cover-image-light.png); /* фоновая картинка (в светлой теме)*/
    --main-text-color: #353430; /* основной цвет текста*/
    --main-title-color: #353430; /*цвет section__title*/
    --logo-color: #ffc2e6; /*цвет лого*/
    --hover-color: #32312d66; /*цвет при наведении*/
  }

  .rec {
    display: none;
  }
}
